# Server Configuration
PORT=3000
APP_ENV=development

# MongoDB Configuration
# Note: When running locally, use localhost
# Students will learn to modify this when containerizing the application
MONGO_URI=mongodb://campusfit_user:campusfit_password@localhost:27017/campusfit_db?authSource=admin
